/CNN/yoonkim_official/mr.p
/CNN/Tensorflow_CNN/runs/
/CNN/Tensorflow_CNN/__pycache__/
/CNN/CNN_Keras/mr.p
/CNN/yoonkim_official/mr.p
/CNN/CNN_Main/models/300features_1minwords_10context
/CNN/CNN_Main/.ipynb_checkpoints/
/CNN/CNN_Main/Images/
/LSTM/.ipynb_checkpoints/
/.ipynb_checkpoints/